In [23]:
import pandas as pd

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score, confusion_matrix

df = pd.read_csv('insurance.csv')
df.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [24]:
labelenc = LabelEncoder()

labelenc = LabelEncoder()
df['sex'] = labelenc.fit_transform(df['sex'])
df['smoker'] = labelenc.fit_transform(df['smoker'])
df['region'] = labelenc.fit_transform(df['region'])
df

      age  sex   bmi  children  smoker  region  expenses
0      19    0  27.9         0       1       3  16884.92
1      18    1  33.8         1       0       2   1725.55
2      28    1  33.0         3       0       2   4449.46
3      33    1  22.7         0       0       1  21984.47
4      32    1  28.9         0       0       1   3866.86
...   ...  ...   ...       ...     ...     ...       ...
1333   50    1  31.0         3       0       1  10600.55
1334   18    0  31.9         0       0       0   2205.98
1335   18    0  36.9         0       0       2   1629.83
1336   21    0  25.8         0       0       3   2007.95
1337   61    0  29.1         0       1       1  29141.36

[1338 rows x 7 columns]

In [30]:
x = df.drop(['expenses'], axis = 1)
y = df[['expenses']]

In [31]:
# Split the data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

# Fit the model
linearmodel = LinearRegression()
linearmodel.fit(x_train, y_train)

LinearRegression()

In [32]:
for idx, col_name in enumerate(x_train.columns):
    print('The coefficient for {} is {}'.format(col_name, linearmodel.coef_[0][idx]))

The coefficient for age is 261.6121162667591
The coefficient for sex is 109.84388797771999
The coefficient for bmi is 344.59527153524994
The coefficient for children is 424.66030781483585
The coefficient for smoker is 23620.314383712604
The coefficient for region is -326.09713836443933

In [33]:
intercept = linearmodel.intercept_[0]
intercept

-12367.009839572038

In [38]:
pred = pd.DataFrame(X_test, columns=x.columns)
pred['ActualCost'] = y_test.values
pred['PredictedCost'] = y_pred

# Display the DataFrame
pred

      age  sex   bmi  children  smoker  region  ActualCost  PredictedCost
764    45    0  25.2         2       0       0     9095.07    8938.656851
887    36    0  30.0         0       0       1     5272.18    7062.787354
890    64    0  26.9         0       1       1    29330.98   36939.995651
1293   46    1  25.7         3       0       1     9301.89    9580.973660
259    19    1  31.9         0       1       1    33750.29   27000.270665
...   ...  ...   ...       ...     ...     ...         ...            ...
701    50    0  44.7         0       0       0     9541.70   16117.004611
672    36    1  29.7         0       0       2     4399.73    6743.155522
1163   18    0  28.2         0       0       0     2200.83    2059.594911
1103   58    1  36.1         0       0       2    11363.28   14704.031818
1295   20    1  22.0         1       0       3     1964.78       2.541240

[402 rows x 8 columns]

# Logistic regression

In [39]:
mush = pd.read_csv('mushrooms.csv')
mush.head()

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
0,p,x,s,n,t,p,f,c,n,k,...,s,w,w,p,w,o,p,k,s,u
1,e,x,s,y,t,a,f,c,b,k,...,s,w,w,p,w,o,p,n,n,g
2,e,b,s,w,t,l,f,c,b,n,...,s,w,w,p,w,o,p,n,n,m
3,p,x,y,w,t,p,f,c,n,n,...,s,w,w,p,w,o,p,k,s,u
4,e,x,s,g,f,n,f,w,b,k,...,s,w,w,p,w,o,e,n,a,g

In [40]:
labelenc = LabelEncoder()

for i in mush.columns:
    mush[i] = labelenc.fit_transform(mush[i])

mush

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
0,1,5,2,4,1,6,1,0,1,4,...,2,7,7,0,2,1,4,2,3,5
1,0,5,2,9,1,0,1,0,0,4,...,2,7,7,0,2,1,4,3,2,1
2,0,0,2,8,1,3,1,0,0,5,...,2,7,7,0,2,1,4,3,2,3
3,1,5,3,8,1,6,1,0,1,5,...,2,7,7,0,2,1,4,2,3,5
4,0,5,2,3,0,5,1,1,0,4,...,2,7,7,0,2,1,0,3,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,0,3,2,4,0,5,0,0,0,11,...,2,5,5,0,1,1,4,0,1,2
8120,0,5,2,4,0,5,0,0,0,11,...,2,5,5,0,0,1,4,0,4,2
8121,0,2,2,4,0,5,0,0,0,5,...,2,5,5,0,1,1,4,0,1,2
8122,1,3,3,4,0,8,1,0,1,0,...,1,7,7,0,2,1,0,7,4,2
8123,0,5,2,4,0,5,0,0,0,11,...,2,5,5,0,1,1,4,4,1,2

In [44]:
# Split data into features and target
x = mush.drop('class', axis=1)
y = mush['class']

# Split data into training and test sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

# Initialize and train the logistic regression model
logisticmodel = LogisticRegression(max_iter=500)
logisticmodel.fit(x_train, y_train)

# Make predictions
pred = logisticmodel.predict(x_test)
pred

array([0, 1, 1, ..., 1, 0, 0])