In [4]:
import mysql.connector
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
import os

In [11]:
user_name = 'root'
password = 'Joel1304'

In [13]:
connection = mysql.connector.connect(host = 'localhost',user = user_name,password = password, db = 'test_db')

In [14]:
connection

In [15]:
student_table = pd.read_sql_query('show tables from test_db',connection)

/var/folders/gy/xjm4pgvj1qv72yxtgzksblzw0000gp/T/ipykernel_34734/1128227192.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  student_table = pd.read_sql_query('show tables from test_db',connection)

In [16]:
student_table

  Tables_in_test_db
0          students

In [17]:
output = pd.read_sql_query('describe students',connection)
output

/var/folders/gy/xjm4pgvj1qv72yxtgzksblzw0000gp/T/ipykernel_34734/3273822848.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  output = pd.read_sql_query('describe students',connection)

          Field         Type Null Key Default Extra
0       roll_no          int  YES        None
1  student_name  varchar(25)  YES        None
2           std          int  YES        None